<header>
  <div class="website-header">
    <img src="../../../../assets/images/mainLogo.png">
    <h1>Meme Website</h1>
    <div class="social-icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-google-plus-g"></i>
      <i class="fab fa-instagram"></i>
      <i class="fas fa-rss"></i>
      <button type="button" class="btn btn-dark" routerLink="/login">Đăng nhập</button>
      <button type="button" class="btn btn-dark" routerLink="/register">Đăng ký</button>
    </div>
    <div class="btn-group" *ngIf="currentUser">
      <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="https://graph.facebook.com/1530271143788664/picture?width=30&height=30" class="cimg" alt="img">
      </button>
      <a class="nav-link" routerLink="/dashboard" *ngIf="isAdmin">Direct to dashboard</a>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item"routerLink="/profileUser" type="button">Profile User</button>
        <button class="dropdown-item"routerLink="/postUser" type="button">Post User</button>
        <button class="dropdown-item" (click)="logout()" type="button">Logout</button>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md ">
    <!-- Brand -->


    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav" >
        <li class="nav-item">
          <a class="nav-link" routerlink="#">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerlink="#">HOT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerlink="#">Truyện cười</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerlink="#">Võ thuật</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="breaking-news-section">
    <span id="btext">Bài đăng hot</span>
    <marquee direction="left">
      <a routerlink="#" class="breaking-news">
        <p class="bntime">23 04 2020</p>
        Bài angular này giao diện và api tụi em tự code không copy trên mạng ạ!
      </a>
      <a routerlink="#" class="breaking-news">
        <p class="bntime">29 11 2020</p>Bài angular này giao diện và api tụi em tự code không copy trên mạng ạ!
      </a>
      <a routerlink="#" class="breaking-news">
        <p class="bntime">23 12 2020</p>Bài angular này giao diện và api tụi em tự code không copy trên mạng ạ!
      </a>
    </marquee>
  </div>
</header>
