header{
	background-color: black;
	color: white;
}
.website-header{
	padding: 20px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
}
.website-header img{
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 30px;
}

.website-header h1{
  color: #e08b6c;
	margin: auto 0;
}
.social-icons{
	text-align: right;
	flex-grow: 1;
}
.social-icons i{
	margin: 0 7px;
	cursor: pointer;
}
nav{
	background-color: black;
	height: 50px;
	margin-bottom: 20px;
}
nav ul{
	margin: 20px 0 0 0;
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}
.navbar-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.navbar-nav li a:hover{
  cursor: pointer;
	color:#e08b6c;
}

.btn-dark a {
	text-decoration: none;
	color: #fff
}

.btn-dark a:hover{
	color:#e08b6c;
}

.breaking-news-section{
	padding: 0 30px 0 60px;
	display: flex;
}
#btext{
	width: 200px;
	font-size: 16px;
	text-transform: uppercase;
	color:#e08b6c;
	font-weight: 600;
	margin: auto 0;
}
.breaking-news{
	padding: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 800;
}
.breaking-news:hover,.social-icons i:hover{
	color:#e08b6c;
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: rgba(255,255,255,0.5);
	padding: 0 10px;
	font-size: 12px;
}

@media only screen and (max-width: 600px) {
	.breaking-news-section{
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}
	.news-section, aside, .news-section .world,.social-links section{
		flex-basis: 100%;
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
  }
  button {
    cursor: pointer;
  }
  .cimg {
    border-radius: 50%;
  }
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url(../../../../assets/images/menu.png);
		z-index: 16;
	}
}

@media screen and (max-width: 576px) {
  .wrapper{
    width: 80%;
  }
}
