header{
	background-color: black;
	color: white;
}
.website-header{
	padding: 20px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
}
.website-header img{
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 30px;
}

.website-header h1{
  color: #e08b6c;
	margin: auto 0;
}
.social-icons{
	text-align: right;
	flex-grow: 1;
}
.social-icons i{
	margin: 0 7px;
	cursor: pointer;
}
nav{
	background-color: black;
	height: 50px;
	margin-bottom: 20px;
}
nav ul{
	margin: 20px 0 0 0;
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}
.navbar-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.navbar-nav li a:hover{
  cursor: pointer;
	color:#e08b6c;
}

.btn-dark a {
	text-decoration: none;
	color: #fff
}

.btn-dark a:hover{
	color:#e08b6c;
}

.breaking-news-section{
	padding: 0 30px 0 60px;
	display: flex;
}
#btext{
	width: 200px;
	font-size: 16px;
	text-transform: uppercase;
	color:#e08b6c;
	font-weight: 600;
	margin: auto 0;
}
.breaking-news{
	padding: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 800;
}
.breaking-news:hover,.social-icons i:hover{
	color:#e08b6c;
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: rgba(255,255,255,0.5);
	padding: 0 10px;
	font-size: 12px;
}

@media only screen and (max-width: 600px) {
	.breaking-news-section{
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}
	.news-section, aside, .news-section .world,.social-links section{
		flex-basis: 100%;
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url(../../../../assets/images/menu.png);
		z-index: 16;
	}
}


/*login form*/
.wrapper {
  overflow: hidden;
  width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
}
.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.title-login {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: #4f4f4f;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .pass-link {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.form-inner form .signup-link {
  margin: 10px 0;
  text-align: center;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  cursor: pointer;
  color: #363535;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.btn-login {
  background-color: gray;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  margin-bottom: 10px;
}

.btn-login:hover {
  transition: 0.5s all ease-in-out;
}

.btn-secondary {
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .wrapper{
    width: 80%;
  }
}
