<main>
  <article id="popular-news">
    <div id="featured">
      <h2>Bài đăng hot nhất</h2>
      <section class="popular-news-carousel">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a routerLink="/detail-post"><img class="d-block w-100" src="../../../../../assets/images/carousel1.jpg"
                  alt="First slide"></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Maria ozawa giải nghệ phim sex Nhật Bản</h5>
                <p>29/11/2020</p>
              </div>
            </div>
            <div class="carousel-item">
              <a routerLink="/detail-post"><img class="d-block w-100" src="../../../../../assets/images/carousel2.jpg"
                  alt="Second slide"></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Truyện hài tiếu lâm tự.</h5>
                <p>29/11/2020</p>
              </div>
            </div>
            <div class="carousel-item">
              <a routerLink="/detail-post"><img class="d-block w-100" src="../../../../../assets/images/carousel3.jpg"
                  alt="Third slide"></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Truyện hài tiếu lâm tự.</h5>
                <p>29/11/2020</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </section>

    </div>
    <div id="latest">
      <h2>Nhiều lượt xem nhất</h2>
      <section class="news">
        <div class="news-container">
          <a routerLink="/detail-post"><img src="../../../../../assets/images/carousel1.jpg"></a>
          <p class="carousel-text">Truyện hài tiếu lâm tự.</p>
        </div>
      </section>
      <section class="news">
        <div class="news-container">
          <a routerLink="/detail-post"><img src="../../../../../assets/images/carousel2.jpg"></a>
          <p class="carousel-text">Truyện hài tiếu lâm tự.</p>
        </div>
      </section>
    </div>
    <div id="our-picks">
      <h2>Bài đăng mới nhất</h2>
      <section class="news">
        <div class="news-container">
          <a routerLink="/detail-post"><img src="../../../../../assets/images/carousel3.jpg"></a>
          <p class="carousel-text">Truyện hài tiếu lâm tự.</p>
        </div>
      </section>
      <section class="news">
        <div class="news-container">
          <a routerLink="/detail-post"><img src="../../../../../assets/images/carousel1.jpg"></a>
          <p class="carousel-text">Truyện hài tiếu lâm tự.</p>
        </div>
      </section>
    </div>
  </article>
  <!--search-->
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input id="form-search" type="search" placeholder="Search" aria-label="Search">
      <input type="button" value="Search" id="search-post">
    </form>
  </nav>
  <!--list post-->
  <section class="more-news">
    <ul class="news-section">
      <li class="world" *ngFor="let mylist of myLists">
        <div class="card-post" >
          <h2> {{mylist.title}}</h2>
          <a [routerLink]="['/posts/'+ mylist.id]"><img src="../../../../../assets/images/world1.jpg" class="title-post"></a>
          <p><span class="label-post">Được đăng bởi:</span> {{mylist.username}}</p>
          <p><span class="label-post">Ngày đăng:</span> {{mylist.posted_date}}</p>
          <p><span class="label-post">Trạng thái:</span> {{mylist.status}}</p>
          <p></p>
          <div class="card-button">
            <a class="up" >
              <img src="../../../../../assets/images/up.png" alt="up">
            </a>
            <a class="down">
              <img src="../../../../../assets/images/down.png" alt="down">
            </a>
            <a class="comment" data-toggle="collapse" href="#{{mylist.id}}" role="button" aria-expanded="false" aria-controls="collapseExample" >
              <img src="../../../../../assets/images/comment.png" alt="comment">
            </a>
            <a type="button" class="more" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
              <img src="../../../../../assets/images//more.png" alt="more">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="card-comment collapse" id="{{mylist.id}}">
            <textarea class="user-comment" name="comment" placeholder="Comment here..."></textarea>
            <input type="submit" value="Enter" name="submit-comment" class="btn btn-dark">
          </div>
        </div>
      </li>
    </ul>

    <aside>
      <h4>Các thể loại nổi bật</h4>
      <ul class="ul-recent">
        <div class="recent-news">
          <img src="../../../../../assets/images/article1.jpg">
          <p>Bài đăng về cô giáo Ly</p>
        </div>
        <div class="recent-news">
          <img src="../../../../../assets/images/article1.jpg">
          <p>Bài đăng về cô giáo Ly</p>
        </div>
        <div class="recent-news">
          <img src="../../../../../assets/images/article1.jpg">
          <p>Bài đăng về cô giáo Ly</p>
        </div>
        <div class="recent-news">
          <img src="../../../../../assets/images/article1.jpg">
          <p>Bài đăng về cô giáo Ly</p>
        </div>
      </ul>
    </aside>
  </section>
</main>
