
#popular-news{
	display: flex;
	flex-wrap: wrap;
	margin: 30px 5%;
}
#popular-news h2{
	margin: 0;
	padding: 5px;
	color: #fff;
}
#featured h2{
	background-color: black;
}
#latest h2{
	background-color: darkred;
}
#our-picks h2{
	background-color: darkblue;
}
#featured{
	flex: 2;
}
#latest,#our-picks{
	flex: 1;
}
#popular-news img{
	width: 100%;
	filter: brightness(0.7);
	transition-duration: 500ms;
}
.carousel, .news-container{
	position: relative;
}
.carousel-text{
	position: absolute;
	word-wrap: normal;
	bottom: 5px;
	z-index: 2;
	color: #fff;
	font-size: 24px;
	font-weight: bolder;
	padding: 0 10px;
	transition-duration: 500ms;
}
.news-container .carousel-text{
	font-size: 18px;
}
.carousel-date{
	display: block;
	text-align: center;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	font-weight: 300;
}
section{
	cursor: pointer;
}
.news-container:hover > .carousel-text{
	bottom: 10px;
}
.news-container:hover > img{
	filter: brightness(0.4);
}
.more-news{
  position: relative;
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	padding: 0 5%;
	justify-content: space-between;
	color: #fff;
}
.news-section{
	display: flex;
	flex-wrap: wrap;
	flex-basis: 70%;
	justify-content: space-between;
	padding:0;
	margin:0;
}
.world h2{
  background-color: darkblue;
}
.sport h2{
	background-color: #3c1b75;
}
.world h2, .sport h2{
    margin: 10px 0 0 0;
	padding: 0 10px;
}

.title-post{
	width: 100%;
	height: 250px;
}
.world{
	flex-basis: 45%;
}
aside{
  position: absolute;
  top: 0;
  right: 5%;
  max-height: auto;
	flex-basis: 25%;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: auto 0;
}
p{
	text-align: justify;
}
.recent-news{
	display: flex;
}
.recent-news img{
	width: 70px;
	height: 70px;
	margin: 10px;
}
.recent-news p{
	font-size: 14px;
	font-weight: bold;
	margin: auto;
}
@media only screen and (max-width: 600px) {
	.breaking-news-section{
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}
	.news-section, aside, .news-section .world,.social-links section{
		flex-basis: 100%;
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url(../../../assets/images/menu.png);
		z-index: 16;
	}
}

.card-button{
	padding:20px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
  .up{
	text-decoration: none;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
  }
  .up:hover,.down:hover,.comment:hover,.more:hover{
	border: 1px solid #4f4f4f;
  }
  .down,.comment,.more{
	text-decoration: none;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	margin-left: 20px;
  }

  .card-comment {
    margin: 20px 0;
  }

  .user-comment {
    color: #fff;
    background: none;
    border:1px solid #dddddd;
    width: 100%;
    padding-bottom: 50px;
  }

  .navbar-light {
    margin-left:4%;
  }


  #search-post {
    outline: none;
    border: none;
    background-color: #e08b6c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 8px;
  }

  #search-post:hover {
    cursor: pointer;
    color: #fff;
    background-color: #b44219;
  }

  #form-search {
    background: none;
    border: 1px solid #dddddd;
    outline: none;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #form-search:focus {
    border: 1px solid #b44219;
  }
