<div class="advertise">
  <img src="../../../../assets/images/advertise.jpeg" alt="Web Hosting" class="advertise-img">
</div>

<footer id="footer">
  <div class="list-service container">
    <div class="first-service">
      <div class="support">
        <label class="label-service">Về chúng tôi</label>
        <ul class="ul-service">
          <li class="li-service"><a href="#" class="a-service">Bản đồ</a></li>
          <li class="li-service"><a href="#" class="a-service">Chính sách</a></li>
          <li class="li-service"><a href="#" class="a-service">Ưu đãi</a></li>
          <li class="li-service"><a href="#" class="a-service">Điều khoản và luật lệ</a></li>
          <li class="li-service"><a href="#" class="a-service">Liên lạc</a></li>
        </ul>
      </div>
      <div class="support">
        <label class="label-service">Hỗ trợ</label>
        <ul class="ul-service">
          <li class="li-service"><a href="#" class="a-service">Bản đồ</a></li>
          <li class="li-service"><a href="#" class="a-service">Chính sách</a></li>
          <li class="li-service"><a href="#" class="a-service">Ưu đãi</a></li>
          <li class="li-service"><a href="#" class="a-service">Điều khoản và luật lệ</a></li>
          <li class="li-service"><a href="#" class="a-service">Liên lạc</a></li>
        </ul>
      </div>
    </div>
    <div class="second-service">
      <div class="service">
        <a class="label-service">Dịch vụ</a>
        <ul class="ul-service">
          <li class="li-service"><a href="#" class="a-service">Bản đồ</a></li>
          <li class="li-service"><a href="#" class="a-service">Chính sách</a></li>
          <li class="li-service"><a href="#" class="a-service">Ưu đãi</a></li>
          <li class="li-service"><a href="#" class="a-service">Điều khoản và luật lệ</a></li>
          <li class="li-service"><a href="#" class="a-service">Liên lạc</a></li>
        </ul>
      </div>
      <div class="information">
        <a class="label-service">Thông tin</a>
        <ul class="ul-service">
          <li class="li-service"><a href="#" class="a-service">Bản đồ</a></li>
          <li class="li-service"><a href="#" class="a-service">Chính sách</a></li>
          <li class="li-service"><a href="#" class="a-service">Ưu đãi</a></li>
          <li class="li-service"><a href="#" class="a-service">Điều khoản và luật lệ</a></li>
          <li class="li-service"><a href="#" class="a-service">Liên lạc</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="detail-us">
    <div class="text">
      <a class="title-link">Về chúng tôi </a>&nbsp;<a class="title-link">Dịch vụ khách hàng </a>&nbsp;<a
        class="title-link">Chính sách </a><a> 2020 web thời trang. Được làm bởi Hoàng Bảo </a>
      <br>
      <a class="link">Bản đồ</a> | <a class="link">Điều khoản</a> |
      <a class="link">Tìm kiếm nhanh</a> | <a class="link">Đặt hàng nhanh</a> | <a class="link">Liên hệ
        chúng tôi</a>
    </div>
    <div class="social">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-google-plus-g"></i>
      <i class="fab fa-instagram"></i>
      <i class="fas fa-rss"></i>
    </div>
  </div>
</footer>
