@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: grid;
  height: 750px;
  width: 100%;
  place-items: center;
  background: linear-gradient(90deg, rgba(62,58,58,1) 0%, rgba(79,79,79,1) 40%, rgba(221,221,221,1) 100%);
}

.wrapper {
  overflow: hidden;
  width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
}
.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .form-container {
  width: 100%;
}
.form-container .form-inner {
  display: flex;
  flex-direction: column;
  width: 200%;
  max-height: 100%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  margin: 30px 0;
  height: 50px;
  width: 100%;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  box-shadow: 1px 1px 1px #fff;
  padding-left: 15px;
  border-radius: 5px;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .pass-link {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.form-inner form .signup-link {
  text-align: center;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  cursor: pointer;
  color: #363535;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: linear-gradient(90deg, rgba(62,58,58,1) 0%, rgba(79,79,79,1) 40%, rgba(221,221,221,1) 100%);
  border-radius: 5px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.form-inner span {
  margin-left: 13%;
}

.btn-router {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.btn-router:hover {
  color: black;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 576px) {
  .wrapper{
    width: 80%;
  }

  .form-inner span {
    margin-left: 10%;
  }
}

.btn-return {
  color: rgb(151, 147, 147);
}

.btn-return:hover{
  border-bottom: 1px solid #000000;
}

/*validate*/
.form-inner form .field input.ng-touched.ng-valid{
  border: 2px solid gray;
}

.form-inner form .field input.ng-touched{
  border: 2px solid red;
}

.form-inner form .field:last-child{
  margin: 45px 0;
}

.alert-error {
  color: red;
}
