<body>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">
        Register Form
      </div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form action="#" class="login">
          <div class="field" for="username">
            <input type="text" id="username" placeholder="Username" required>
          </div>
          <div class="field" for="email">
            <input type="text" id="email" placeholder="Email Address" required>
          </div>
          <div class="field" for="pw">
            <input type="password" id="pw" placeholder="Enter Your Password" required>
          </div>
          <div class="field" for="pw">
            <input type="password" id="pw" placeholder="Enter Your Password Again" required>
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Sign Up">
          </div>
          <div class="signup-link">
            If you had an account? <a routerLink="/login">Cancel</a></div>
        </form>
      </div>
    </div>
  </div>

</body>
