.avatar-xl img {
  width: 110px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
.text-muted {
  color: #aeb0b4 !important;
}
.text-muted {
  font-weight: 300;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d5154;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #eef0f3;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.require {
  color: #666;
}
label small {
  color: #999;
  font-weight: normal;
}


header{
	background-color: black;
	color: white;
}
.website-header{
	padding: 20px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
}
.website-header img{
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 30px;
}

.website-header h1{
  color: #e08b6c;
	margin: auto 0;
}
.social-icons{
	text-align: right;
	flex-grow: 1;
}
.social-icons i{
	margin: 0 7px;
	cursor: pointer;
}
nav{
	background-color: black;
	height: 50px;
	margin-bottom: 20px;
}
nav ul{
	margin: 20px 0 0 0;
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}
.navbar-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.navbar-nav li a:hover{
  cursor: pointer;
	color:#e08b6c;
}

.btn-dark a {
	text-decoration: none;
	color: #fff
}

.btn-dark a:hover{
	color:#e08b6c;
}

.breaking-news-section{
	padding: 0 30px 0 60px;
	display: flex;
}
#btext{
	width: 200px;
	font-size: 16px;
	text-transform: uppercase;
	color:#e08b6c;
	font-weight: 600;
	margin: auto 0;
}
.breaking-news{
	padding: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 800;
}
.breaking-news:hover,.social-icons i:hover{
	color:#e08b6c;
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: rgba(255,255,255,0.5);
	padding: 0 10px;
	font-size: 12px;
}

@media only screen and (max-width: 600px) {
	.breaking-news-section{
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}
	.news-section, aside, .news-section .world,.social-links section{
		flex-basis: 100%;
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
  }
  button {
    cursor: pointer;
  }
  .cimg {
    border-radius: 50%;
  }
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
}

@media screen and (max-width: 576px) {
  .wrapper{
    width: 80%;
  }
}


/*footer*/
#label {
	background-color: #ffffff;
	border-top: 1px solid #dddddd;
	width: 100%;
	min-height: 18vh;
  }

  .label-content{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;
  }

  .label-img  {
	height: 5rem;
	width: 5rem;
	margin: 0 auto;
  }

  .label-ct img {
	object-fit: contain;
  }

  /*---------------footer---------------*/
  #footer {
	width: 100%;
	background: black;
	color: #aaaaaa;
  }

  #footer .list-service {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;

	margin: 0 auto;
	padding: 30px 0;
	border-bottom: 1px solid #3f3f3f;
  }

  .first-service {
	display: flex;
	justify-content: space-between;
	max-width: auto;

	max-height: 350px;
	max-width: 100%;
  }

  .about {
	padding: 0 10px;
	width: 250px;
	margin-top: -12px;
  }

  .label-footer {
	text-transform: uppercase;
	color: #999;
	font-size: 17px;

	margin: 0;
	line-height: 16px;

  }

  .text-footer {
	padding-top: 20px;
	line-height: 20px;
	font-size: 13px;

	color: #aaaaaa;
	text-align: left;
  }

  .img-footer {
	width: 150px;
	margin-left: 50px;
  }

   .support {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;

	width: 250px;
	box-sizing: border-box;
  }

  .label-service {
	margin: 0;
	font-size: 17px;
	line-height: 16px;

	text-transform: uppercase;
	color: #999;
  }

  .ul-service {
	padding-top: 20px;
  }

  .li-service {
	line-height: 20px;
  }

  .a-service {
	color: #817979;
	font-size: 13px;
  }

  .a-service:hover {
	color: #e45757;
  }

  .second-service {
	display: flex;
	justify-content: space-between;

	max-height: 350px;
	max-width: 100%;
	padding-left: 10px;
  }

  .service {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	text-transform: uppercase;
	width: 250px;

  }

  .label-service {
	text-transform: uppercase;
	margin: 0;
	font-size: 17px;
	line-height: 16px;
	color: #999;
  }

  .ul-service {
	padding-top: 20px;
  }

  .li-service {
	line-height: 20px;
  }

  .a-service {
	color: #817979;
	font-size: 13px;
  }

  a.a-service:hover {
	color: #be1558;
  }

  .information {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	text-transform: uppercase;
	width: 250px;
  }

  .label-service {
	font-size: 17px;
	line-height: 16px;
	color: #999;

	text-transform: uppercase;
	margin: 0;

  }

  .ul-service {
	padding-top: 20px;
  }

  .li-service {
	line-height: 20px;
  }

  .a-service {
	color: #817979;
	font-size: 13px;
  }

  .a-service:hover {
	color: #e45757;
  }

  #footer .detail-us {
	display: block;
	padding: 50px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
  }

  #footer .detail-us .text {
	width: 650px;
	font-size: 13px;
  }

  .title-link {
	color: #fff;
  }

  .title-link:hover {
	text-decoration: none;
	cursor: pointer;
	border-bottom: 2px solid #be1558;
  }

  .text .link:hover {
	cursor: pointer;
	color:#be1558;
  }

  #footer .detail-us .social {
	max-width: 650px;
	display: flex;
	justify-content: space-evenly;
  }

  .social i {
	  padding: 0 5px;
  }

  .advertise {
    padding: 30px;
    text-align: center;
    width: 100%;
  }

  .advertise-img {
    max-width:728px;
    height:90px;
  }

  @media only screen and (max-width: 768px) {
    .advertise-img {
      max-width:528px;
    }
  }

  @media only screen and (max-width: 576px) {
  .advertise-img {
    max-width:428px;
  }

	.label-content {
	  grid-template-columns: repeat(3, 1fr);
	}

	#label {
		height: 30vh;
	}

	.text {
		text-align: center;
	}

	.detail-us {
		flex-wrap: wrap;
	}
}
@media only screen and (max-width: 376px) {
  .advertise-img {
    width:328px;
  }
}

@media only screen and (max-width: 415px) {
  .advertise-img {
    width:328px;
  }
}
