.body-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-post {
  margin:0 auto;
}

.card-button{
	padding:20px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
  .up{
	text-decoration: none;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
  }
  .up:hover,.down:hover,.comment:hover,.more:hover{
  border: 1px solid #4f4f4f;
  cursor: pointer;
  }
  .down,.comment,.more{

	text-decoration: none;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	margin-left: 20px;
  }

  .card-comment {
    margin: 20px 0;
  }

  .user-comment {
    padding: 10px;
    color: #fff;
    background: none;
    border:1px solid #dddddd;
    width: 100%;
    padding-bottom: 50px;
  }


  .navbar-light {
    margin-left:4%;
  }

  .card-post h2 {
    text-align: center;
    text-transform: capitalize;
    color:#e08b6c;
  }


  /*header-footer*/

header{
	background-color: black;
	color: white;
}
.website-header{
	padding: 20px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
}
.website-header img{
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 30px;
}

.website-header h1{
  color: #e08b6c;
	margin: auto 0;
}
.social-icons{
	text-align: right;
	flex-grow: 1;
}
.social-icons i{
	margin: 0 7px;
	cursor: pointer;
}
nav{
	background-color: black;
	height: 50px;
	margin-bottom: 20px;
}
nav ul{
	margin: 20px 0 0 0;
}
.navbar-nav li{
	list-style: none;
	display: inline-block;
	padding: 10px 20px;
}
.navbar-nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
}
.navbar-nav li a:hover{
  cursor: pointer;
	color:#e08b6c;
}

.btn-dark a {
	text-decoration: none;
	color: #fff
}

.btn-dark a:hover{
	color:#e08b6c;
}

.breaking-news-section{
	padding: 0 30px 0 60px;
	display: flex;
}
#btext{
	width: 200px;
	font-size: 16px;
	text-transform: uppercase;
	color:#e08b6c;
	font-weight: 600;
	margin: auto 0;
}
.breaking-news{
	padding: 30px;
	color: #fff;
	text-decoration: none;
	font-weight: 800;
}
.breaking-news:hover,.social-icons i:hover{
	color:#e08b6c;
	cursor: pointer;
}
.bntime{
	display: inline-block;
	color: rgba(255,255,255,0.5);
	padding: 0 10px;
	font-size: 12px;
}

@media only screen and (max-width: 600px) {
	.breaking-news-section{
		padding: 10px;
		flex-wrap: wrap;
	}
	#featured{
		flex: auto;
	}
	.news-section, aside, .news-section .world,.social-links section{
		flex-basis: 100%;
	}
	aside{
		border-width: 0;
	}
	.social-links section{
		margin-top: 20px;
	}
	.website-header img{
		width: 35px;
		height: 35px;
		padding: 5px;
	}
	.website-header h1{
		font-size: 15px;
	}
	.social-icons{
		flex-basis: 100%;
	}
	.navbar-collapse{
		background-color: black;
		z-index: 16;
	}
	.navbar-toggler-icon{
		background-image: url(../../../assets/images/menu.png);
		z-index: 16;
	}
}


/*login form*/
.wrapper {
  overflow: hidden;
  width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
}
.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.title-login {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: #4f4f4f;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .pass-link {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.form-inner form .signup-link {
  margin: 10px 0;
  text-align: center;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  cursor: pointer;
  color: #363535;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.btn-login {
  background-color: gray;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  margin-bottom: 10px;
}

.btn-login:hover {
  transition: 0.5s all ease-in-out;
}

.btn-secondary {
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .wrapper{
    width: 80%;
  }
}

/*footer*/
#label {
	background-color: #ffffff;
	border-top: 1px solid #dddddd;
	width: 100%;
	min-height: 18vh;
  }

  .label-content{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;
  }

  .label-img  {
	height: 5rem;
	width: 5rem;
	margin: 0 auto;
  }

  .label-ct img {
	object-fit: contain;
  }

  /*---------------footer---------------*/
  #footer {
	width: 100%;
	background: black;
	color: #aaaaaa;
  }

  #footer .list-service {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;

	margin: 0 auto;
	padding: 30px 0;
	border-bottom: 1px solid #3f3f3f;
  }

  .first-service {
	display: flex;
	justify-content: space-between;
	max-width: auto;

	max-height: 350px;
	max-width: 100%;
  }

  .about {
	padding: 0 10px;
	width: 250px;
	margin-top: -12px;
  }

  .label-footer {
	text-transform: uppercase;
	color: #999;
	font-size: 17px;

	margin: 0;
	line-height: 16px;

  }

  .text-footer {
	padding-top: 20px;
	line-height: 20px;
	font-size: 13px;

	color: #aaaaaa;
	text-align: left;
  }

  .img-footer {
	width: 150px;
	margin-left: 50px;
  }

   .support {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;

	width: 250px;
	box-sizing: border-box;
  }

  .label-service {
	margin: 0;
	font-size: 17px;
	line-height: 16px;

	text-transform: uppercase;
	color: #999;
  }

  .ul-service {
	padding-top: 20px;
  }

  .li-service {
	line-height: 20px;
  }

  .a-service {
	color: #817979;
	font-size: 13px;
  }

  .a-service:hover {
	color: #e45757;
  }

  .second-service {
	display: flex;
	justify-content: space-between;

	max-height: 350px;
	max-width: 100%;
	padding-left: 10px;
  }

  .service {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	text-transform: uppercase;
	width: 250px;

  }

  .label-service {
	text-transform: uppercase;
	margin: 0;
	font-size: 17px;
	line-height: 16px;
	color: #999;
  }

  .ul-service {
	padding-top: 20px;
  }

  .li-service {
	line-height: 20px;
  }

  .a-service {
	color: #817979;
	font-size: 13px;
  }

  a.a-service:hover {
	color: #be1558;
  }

  .information {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	text-transform: uppercase;
	width: 250px;
  }

  .label-service {
	font-size: 17px;
	line-height: 16px;
	color: #999;

	text-transform: uppercase;
	margin: 0;

  }

  .ul-service {
	padding-top: 20px;
  }

  .li-service {
	line-height: 20px;
  }

  .a-service {
	color: #817979;
	font-size: 13px;
  }

  .a-service:hover {
	color: #e45757;
  }

  #footer .detail-us {
	display: block;
	padding: 50px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
  }

  #footer .detail-us .text {
	width: 650px;
	font-size: 13px;
  }

  .title-link {
	color: #fff;
  }

  .title-link:hover {
	text-decoration: none;
	cursor: pointer;
	border-bottom: 2px solid #be1558;
  }

  .text .link:hover {
	cursor: pointer;
	color:#be1558;
  }

  #footer .detail-us .social {
	max-width: 650px;
	display: flex;
	justify-content: space-evenly;
  }

  .social i {
	  padding: 0 5px;
  }

  .advertise {
    padding: 30px;
    text-align: center;
    width: 100%;
  }

  .advertise-img {
    max-width:728px;
    height:90px;
  }

  @media only screen and (max-width: 768px) {
    .advertise-img {
      max-width:528px;
    }
  }

  @media only screen and (max-width: 576px) {
  .advertise-img {
    max-width:428px;
  }

	.label-content {
	  grid-template-columns: repeat(3, 1fr);
	}

	#label {
		height: 30vh;
	}

	.text {
		text-align: center;
	}

	.detail-us {
		flex-wrap: wrap;
	}
}
@media only screen and (max-width: 376px) {
  .advertise-img {
    width:328px;
  }
}

@media only screen and (max-width: 415px) {
  .advertise-img {
    width:328px;
  }
}
