<h1 style="text-align: center;">List of posts information</h1>
<table class="table" border="1">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Title</th>
      <th scope="col">Posted_date</th>
      <th scope="col">vote_up</th>
      <th scope="col">vote_down</th>
      <th scope="col">status</th>
      <th scope="col">username</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mylist of myLists">
      <th scope="row">{{mylist.id}}</th>
      <td>{{mylist.title}}</td>
      <td>{{mylist.posted_date}}</td>
      <td>{{mylist.vote_up}}</td>
      <td>{{mylist.vote_down}}</td>
      <td>{{mylist.status}}</td>
      <td>{{mylist.username}}</td>
      <td>{{mylist.created_at}}</td>
      <td>{{mylist.updated_at}}</td>
      <td>
        <button type="button" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
