<header>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</header>
<body>
  <div class="wrapper">
    <div class="title-text">
      <div class="title login">
        Login Form
      </div>
    </div>
    <div class="form-container">
      <div class="form-inner">
        <form [formGroup]="loginForm" class="login form-group" (ngSubmit)="onSubmit()">
          <div class="field" for="username">
            <input
              type="text"
              formControlName="username"
              class="form-control"
              placeholder="Username"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"

            >
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
          </div>
          <div class="field" for="password">
              <input
              formControlName="password"
              type="password"
              class="form-control"
              placeholder="Password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              >
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
          </div>
          <div class="pass-link">
            <label>
              <input type="checkbox" />
              <span>Remember</span>
            </label>
            <a routerLink="/forgot-password">Forgot password?</a>
          </div>
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
           <span> Not a member? <a routerLink="/register" class="btn-router">Signup now</a></span>
      </div>
    </div>
  </div>

</body>
